@charset "UTF-8";

body {
    background-color: rgb(196, 233, 196);
}

h1 {
    color: rgb(11, 99, 11);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(110, 122, 110);
}

.basico {
    color: blue;
}

.intermediario {
    color: rgb(88, 88, 180);
}

.avancado {
    color: aqua;
}